<h3>Создание страницы</h3>
<form action="" method="post">
    <div>
        <label for="alias">Псевдоним: </label>
        <input type="text" id="alias" name="alias" class="form-control">
    </div>
    <div>
        <label for="title">Название: </label>
        <input type="text" id="title" name="title" class="form-control">
    </div>
    <div>
        <label for="content">Содержимое: </label>
        <textarea  id="content" name="content" rows="10" class="form-control"></textarea>
    </div>
    <div>
        <label for="is_published">Публиковать: </label>
        <input  type="checkbox" id="is_published" name="is_published">
    </div>
    <input type="submit" value="Создать" class="btn btn-success">
</form>